.nav-bar {
    background-color: green;
    height: 80px;
}

.nav-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.719);

}
.nav-link-class{
    text-decoration: none;
    color: white;
    padding: 3px;
}
.nav-bar .cart-btn:hover{
    background-color: green;
    /* color: black; */
}
.nav-bar img{
    max-height: 80px;         /* Optional: Limit the size of the logo */
  width: auto;
}